.main{
    background-color: grey;
    width: 600px;
    height: 340px;margin-left: 120px;
    margin-top: 40px;
}.mmm{
    margin-left: 110px;
}
.aq{
    border: 3px solid black;
    width: 357px;
    height: 20px;
    margin-top: -25px;

}
.ak{
    margin-left: 170px;
    margin-top: 13px;
}.a{
  margin-top: -230px;
  margin-left: 95px;
}
.b{
margin-left: 95px;
margin-top: -10px;
}
.c{
    margin-left: 95px;
margin-top: -12px;

}
.d{
    margin-left: 95px;
    margin-top: -12px;
    
}
.e{
    margin-left: 95px;
    margin-top: -11px;
    
}
.f{
    margin-left: 95px;
margin-top: -11px;

}
.g{
    margin-left: 95px;
    margin-top: -11px;   
}
.h{
     margin-left: 135px;
     margin-top: -165px;
}
.i{
  margin-left: 160px;
  margin-top: 20px;
}
.j{
    margin-left: 183px;
    margin-top: -34px;
}
.l{
    margin-left: 203px;
    margin-top: -34px;
}
.m{
    margin-left: 220px;
    margin-top:  -34px;;
}
.n{
    margin-left: 240px;
    margin-top:  -34px;;
}
.o{
    margin-left: 260px;
    margin-top:  -34px;;
}
.t{
    margin-left: 280px;
    margin-top: -34px;;
}
.x{
    margin-left: 295px;
    margin-top: -34px;
}
.y{
    margin-left: 318px;
    margin-top: -34px;
}
.z{
    margin-left: 338px;
    margin-top: -34px;
}
.aa{
margin-top: -79px;
margin-left: 355px;
}
.bb{
    margin-top: -34px;
    margin-left: 375px;
}
.cc{
    margin-top: -34px;
    margin-left: 395px;
}
.dd{
    margin-top: -34px;
    margin-left: 414px;
}
.ee{
    margin-top: -34px;
    margin-left: 433px;
}